@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Header */
.bg_blue {
  background-color: black;
}
.navbar-brand {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Faustina", serif;
  color: #fff;
}
.bg_blue .nav-link {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 14px !important;
  font-weight: 500;
  letter-spacing: 1px;
}

.bg_blue .nav-link:hover {
  transition: 0.6s;
  color: #fff;
  transform: scale(1.1);
  border-bottom: 1px solid #fff;
}
/* Home */

#home .carousel-item {
  height: 80vh !important;
}

/* home end */
/* services */
.bg_hover {
  font-family: "Faustina", serif;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 600;
}
.bg_hover:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 255, 0.801);
  transform: translate(10px);
  transition: 0.5s;
}
.ros {
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
}
.text_transform {
  font-size: 25px;
  font-weight: bolder;
}
/* portfolio */
.portfolio_img {
  width: 100%;
  background: linear-gradient(
    rgba(1, 1, 1, 0.5),
    rbga(1, 1, 1, 1),
    url(../img/img2.jpg)
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 162px;
}
/* Partnyor css  Slider*/

.slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 30%;
  height: 30% !important;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Partnyor */
.font_size_color{
  margin-bottom: 15px;
  font-family: "Faustina", serif;
  color: #3e64ff;
  font-size: 30px;
  font-weight: 500;
}



/* Team */

.section-team {
  font-family: "Faustina", serif;
  padding: 80px 0;
  text-align: center;
}

.section-team .header-section {
  margin-bottom: 50px;
}

.section-team .header-section .small-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
  color: #3e64ff;
}

.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  background-color: #f6f9ff;
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(to right, #016cec, #00b5f7);
  cursor: pointer;
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding 0.3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #016cec, #00b5f7);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
  background: none;
  background-color: #fff;
  color: #016cec;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}
/* contact */
form{
  font-family: "Faustina", serif;
}